div {
  padding: 0;
  margin: 0;
}

header {
  padding: 20px 0;
}

section {
  min-height: 100px;
}

footer {
  min-height: 300px;
}

button {
  border-radius: 5px;
  min-height: 40px;
  outline: none;
  border: none;
}

h2 {
  line-height: 40px;
}

.bg-dark {
  background-color: #08121C;
}

.br-50 {
  border-radius: 50%;
}

.top-menu {
  display: inline-flex;
  gap: 60px;
  justify-content: flex-end;
  align-items: center;
}

.top-menu a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.logo {
  font-weight: 700;
  font-size: 24px;
}

.logo span:nth-child(1) {
  color: rgb(178, 9, 9);
}

.hero {
  border-radius: 5px;
  background-image: url('../img/food-background.jpg');
  object-fit: cover;
  padding: 0;
}

.text-white {
  color: whitesmoke;
}

.hero .inner {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.402);
  border-radius: inherit;
}

.hero .inner > div {
  width: 500px;
  text-align: center;
}

.primary-button {
  background-color: rgb(178, 9, 9);
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 700;
  padding: 5px 15px;
}


/* MENU */
.menu {
  padding: 50px 0;
}

.menu-grid {
  gap: 20px;
}

.menu img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in;
}

.menu-item {
  padding: 0;
  margin-bottom: 20px;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.menu-item .content {
  padding: 20px;
  background-color: rgba(242, 242, 242, 0.663);
  transition: all 0.3s ease-in;
}

.menu-item .content h4 {
  font-weight: 500;
}

.menu-item .content .description {
  height: 70px;
  opacity: 0.7;
}

.menu-item .content .price {
  font-size: 24px;
  font-weight: 700;
  color: rgb(178, 9, 9);
}

.menu-item:hover .content {
  background-color: #08121C;
  color: whitesmoke;
}

.menu-item:hover img {
  scale: 1.1;
}